[submodule "crypto"]
	path = crypto
	url = https://github.com/ByPikod/go-crypto.git
	branch = crypto
[submodule "notifier"]
	path = notifier
	url = https://github.com/ByPikod/go-crypto.git
	branch = notifier
